{% extends 'base.html.twig' %}

{% block title %}Log in!{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    {# Add your custom stylesheet link or styles here if needed #}
    <style>
        body {
            font-family: 'Arial', sans-serif; /* Use your preferred font-family */
        }

        .container {
            max-width: 400px; /* Adjust the max-width as needed */
            margin-top: 50px;
        }

        .text-end {
            font-size: 14px;
        }

        .form-label {
            font-size: 16px;
        }

        .form-control {
            font-size: 16px;
        }

        .btn-primary {
            font-size: 18px;
        }
    </style>
{% endblock %}

{% block body %}
<div class="container">
    <div class="row justify-content-end">
        <div class="col-auto mb-3">
            {% if app.user %}
                <p class="text-end">You are logged in as {{ app.user.userIdentifier }}, <a href="{{ path('app_logout') }}">Logout</a></p>
            {% endif %}
        </div>
    </div>

    <form method="post">
        {% if error %}
            <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
        {% endif %}

        <h1 class="h3 mb-3 font-weight-normal text-center">Please sign in</h1>

        <div class="mb-3">
            <label for="inputEmail" class="form-label">Email</label>
            <input type="email" value="{{ last_username }}" name="email" id="inputEmail" class="form-control" autocomplete="email" required autofocus>
        </div>

        <div class="mb-3">
            <label for="inputPassword" class="form-label">Password</label>
            <input type="password" name="password" id="inputPassword" class="form-control" autocomplete="current-password" required>
        </div>

        <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">

        <button class="btn btn-lg btn-primary" type="submit">
            Sign in
        </button>
    </form>
</div>
{% endblock %}
