{% extends 'base.html.twig' %}

{% block title %}Hello ArticleController!{% endblock %}

{% block body %}
<div class="container mt-4">
    {% if is_granted('ROLE_ADMIN') %}       
<form method="post" class="mb-4">
    {# Display global form errors #}
    {{ form_errors(form) }}

    <div class="mb-3">
        <b>{{ form_label(form.titre, 'Titre', {'label_attr': {'class': 'form-label'}}) }}</b>
        {{ form_widget(form.titre, {'attr': {'class': 'form-control'}}) }}
        {{ form_errors(form.titre) }}
    </div>
    <div class="mb-3">
        <b>{{ form_label(form.categorie, 'Categorie', {'label_attr': {'class': 'form-label'}}) }}</b>
        {{ form_widget(form.categorie, {'attr': {'class': 'form-control'}}) }}
        {{ form_errors(form.categorie) }}
    </div>
    <div class="mb-3">
        <b>{{ form_label(form.contenu, 'Contenu', {'label_attr': {'class': 'form-label'}}) }}</b>
        {{ form_widget(form.contenu, {'attr': {'class': 'form-control'}}) }}
        {{ form_errors(form.contenu) }}
    </div>
    <div class="mb-3">
        <b>{{ form_label(form.etat, 'État', {'label_attr': {'class': 'form-label'}}) }}</b>
        {{ form_widget(form.etat, {'attr': {'class': 'form-select'}}) }}
        {{ form_errors(form.etat) }}
    </div>
    <button type="submit" class="btn btn-primary">Submit</button>
</form>


        
    {% endif %}

    <h1 class="mt-4">Articles</h1>
<div class="row">
    {% for article in articles %}
        {% if article.etat == 1 or (is_granted('ROLE_ADMIN') and article.etat == 0) %}
            <div class="col-md-6">
                <div class="card mb-3">
                    <div class="card-body">
                        <a href="{{ path('detail_article', {'id': article.id}) }}">
                            <h2 class="card-title">{{ article.titre }}</h2>
                        </a>
                        <p class="card-text"><b>Auteur:</b> {{ article.auteur.nom }}</p>
                    </div>
                </div>
            </div>
        {% elseif  article.etat == 0|length < 0 %}
            <div class="col-md-12">
                <div class="card mb-3">
                    <div class="card-body">
                        <b>Aucun article brouillon...</b>
                    </div>
                </div>
            </div>
        {% endif %}
    {% endfor %}
</div>


    
</div>
{% endblock %}
